.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 1px;
  }

h1 {
    color: #1f2937;
}
  
  .form-input {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 30rem;
    padding: 1rem;
    align-items: center;
    border-radius: 5%;
  }
  
  .form-container small {
    color: red;
  }

  .input {
      padding: 1rem; 
      width: 25rem;
  }

