.App {
  text-align: center;
}

.btn {
  padding: 1rem;
  width: 10rem;
  border-radius: 0.5rem;
  font-weight: normal;
  font-size: 1rem;
  border: none;
  color: #f9fafb;
  font-family: "Montserrat", sans-serif;
  outline: none;
  
}

.btn-dark {
  background-color: #374151;
}
.btn-dark-hover:hover {
  background-color: #1f2937;
}
